@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --blue: #354259;
  --ltaqua: #C2DED1;
  --beige: #ECE5C7;
  --dkbeige: #CDC2AE;
}

body {
  margin: 0;
  font-family: 'Grand Hotel', cursive;
  font-family: 'Lato', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--blue)
}


.page-container {
  position: relative;
  min-height: 100vh;
  background-color: var(--ltaqua);
  padding-bottom: 6rem;
  padding-top: 130px;
  /* margin-top: 105px; */
}

.box {
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 118px; */
  display: grid;
  width: 80%;
  max-width: 700px;
  /* max-width: 1240px; */
  /* background-color: var(--beige); */
  padding: 2rem;
  padding-bottom: 2.5rem;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

.addmarket-box {
  padding: 3rem 2rem 3.5rem 2rem;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-box a {
  text-decoration: none;
  color: black;
  border-radius: 40px;
  padding: 3rem 2rem 3.5rem 2rem;
  background-color: var(--beige);
}

.about-box h2 {
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  height: 2rem;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

input[value=""]:not(:focus) { 
  color: transparent; 
}

label {
  margin-left: 20px;
}

header {
  display: flex;
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dkbeige);
  padding: 20px;
  font-family: 'Grand Hotel';
  font-size: 1.5rem;
}

header a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: var(--blue)
}

ul {
  list-style: none;
  font-size: 15px;
  padding: 0;
}

footer {
  background-color: var(--dkbeige);
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 4rem;  */
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer-txt {
 display: flex;
 flex-direction: column;
 align-items: center;
 line-height: 1.5;
}

.footer-txt p {
  display: flex;
  align-items: center;
  margin: 0;
}


.registerlink a {
  color: lightsalmon;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

.buttonstyle {
  background-color: var(--blue);
  border-radius: 30px;
  color: var(--beige);
  width: 25%;
  padding: 10px;
  width: 100%;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
  height: 50px;
}

.firstpage-btn {
  background-color: var(--blue);
  border-radius: 30px;
  color: var(--beige);
  width: 100%;
  padding: 10px;
  border: none;
  height: 50px;
}

button {
  cursor: pointer;
}

.login-btn {
  width: 100%;
}

.btn-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}


.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market-box {
  border: solid black 1px;
  margin: 10px 0 10px 0;
  padding:10px;
}

.mapbox {
  position: relative;
}

.floatText {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 10;
  margin: 0;
  padding: 5px;
  background-color: var(--ltaqua);
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 50%;
  z-index: 10;
}

.searchinput {
  width: 100%;
}

.searchinput input {
  width: 100%;
}

.locate {
  position: absolute;
  top: 4rem;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  z-index: 10;
  padding: 0;
  margin: 0 10px 10px 10px;
  width: 40px;
  height: 40px;
}

.locate svg {
  width: 35px;
  height: 35px;
  color: var(--blue)
}

/* TESTMAP */

/* .combobox-input {
 width: 100%;
 padding: 0.5rem;
}

.buttonn {
  border: solid 2px black;
  color: red;
  position: absolute;
  z-index: 12;
} */


.info-window {
  background-color: var(--dkbeige);
  width: 250px;
  padding: 10px;
}

.info-window h3 {
  margin-bottom: 6px;
}

.info-window p {
  margin: 2px;
}

a {
  text-decoration: none;
  color: black;
}

p a {
  display: flex;
  align-items: center;
}

a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--blue)
}

.user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.user-link p {
  margin: 0;
}

.error {
  margin-left: auto;
  margin-right: auto;
}

.userinput-box h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.password {
  letter-spacing: 3px;
  font-size: 20px;
  color: var(--blue)
}
.aboutpage-box {
  text-decoration: none;
    color: black;
    border-radius: 40px;
    padding: 3rem 2rem 3.5rem 2rem;
    background-color: var(--beige);
}

#opens {
  width: 200px;
}

/* FOR HEADER TO CHANGE ON MINI */
@media (max-width: 400px){
  header {
    font-size: 1.3rem;
  }
  
  ul {
    font-size: 12px;
  }
}

/* FOR TABLET */
@media screen and (min-width: 768px) {
  header {
    font-size: 2rem;
  }
  
  ul {
    font-size: 18px;
  }

  .about-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

/* FOR DESKTOP */
@media screen and (min-width: 992px) {
}
}