@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --blue: #354259;
  --ltaqua: #C2DED1;
  --beige: #ECE5C7;
  --dkbeige: #CDC2AE;
}

body {
  margin: 0;
  font-family: 'Grand Hotel', cursive;
  font-family: 'Lato', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--blue)
}


.page-container {
  position: relative;
  min-height: 100vh;
  background-color: var(--ltaqua);
  padding-bottom: 6rem;
  margin-top: 105px;
}

.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 118px;
  display: grid;
  width: 80%;
  max-width: 700px;
  /* max-width: 1240px; */
  /* background-color: var(--beige); */
  padding: 2rem;
  padding-bottom: 2.5rem;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-box a {
  text-decoration: none;
  color: black;
}

input {
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  height: 2rem;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

input[value=""]:not(:focus) { 
  color: transparent; 
}

label {
  margin-left: 20px;
}

header {
  display: flex;
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dkbeige);
  padding: 20px;
  font-family: 'Grand Hotel';
  font-size: 1.5rem;
  /* word-spacing: 10px; */
}

header a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: var(--blue)
}

ul {
  list-style: none;
  font-size: 1rem;
  padding: 0;
}

footer {
  background-color: var(--dkbeige);
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 4rem;  */
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer-txt {
 display: flex;
 flex-direction: column;
 align-items: center;
 line-height: 1.5;
}

.footer-txt p {
  display: flex;
  align-items: center;
  margin: 0;
}


.registerlink a {
  color: lightsalmon;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

.buttonstyle {
  background-color: var(--blue);
  border-radius: 30px;
  color: var(--beige);
  width: 25%;
  padding: 10px;
  width: 100%;
  border: none;
}

.firstpage-btn {
  background-color: var(--blue);
  border-radius: 30px;
  color: var(--beige);
  width: 100%;
  padding: 10px;
  border: none;
}

.login-btn {
  width: 100%;
}

.btn-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}


.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market-box {
  border: solid black 1px;
  margin: 10px 0 10px 0;
  padding:10px;
}

.mapbox {
  position: relative;
}

.floatText {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 10;
  margin: 0;
  padding: 5px;
  background-color: var(--ltaqua);
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 50%;
  z-index: 10;
}

.searchinput {
  width: 100%;
}

.searchinput input {
  width: 100%;
}

.locate {
  position: absolute;
  top: 4rem;
  right: 0px;
  background: none;
  border: none;
  z-index: 10;
  padding: 0;
  margin: 10px;
}

/* TESTMAP */

.combobox-input {
 width: 100%;
 padding: 0.5rem;
}

.buttonn {
  border: solid 2px black;
  color: red;
  position: absolute;
  z-index: 12;
}

/* SIDEBAR */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--blue);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--ltaqua);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--beige);
}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--blue);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--beige);
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: var(--beige);
  margin-bottom: 10px;
  text-align: right;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 40px;
}

.info-window {
  background-color: var(--beige);
}