* {
  box-sizing: border-box;
}

:root {
  --blue: #354259;
  --ltaqua: #C2DED1;
  --beige: #ECE5C7;
  --dkbeige: #CDC2AE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--blue)
}


.page-container {
  position: relative;
  min-height: 100vh;
  background-color: var(--ltaqua);
  padding-bottom: 6rem;
}

.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  display: grid;
  width: 70%;
  max-width: 700px;
  /* max-width: 1240px; */
  background-color: var(--beige);
  padding: 2rem;
  padding-bottom: 2.5rem;
}

input {
  margin-bottom: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dkbeige);
  padding: 20px;
}

footer {
  background-color: var(--dkbeige);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;      
}

.registerlink a {
  color: lightsalmon;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--blue);
  border-radius: 3px;
  color: var(--beige);
  width: 100%;
  padding: 10px;
}

.login-btn {
  width: 70px;
}

.btn-box {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-bottom: 1rem;
}


.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market-box {
  border: solid black 1px;
  margin: 10px 0 10px 0;
  padding:10px;
}
/* 
.mapbox {
  width: 100%;
  height: 100%;
} */

